In [17]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [4]:
trash_df = pd.read_csv('trash_hauler_report.csv')

In [5]:
# read first few lines
trash_df.head()

,Request Number,Date Opened,Request,Description,Incident Address,Zip Code,Trash Hauler,Trash Route,Council District,State Plan X,State Plan Y
0,25270,11/01/17,Trash - Backdoor,"house with the wheel chair ramp, they share dr...",3817 Crouch Dr,37207.0,RED RIVER,3205,2.0,1.727970e+06,686779.478089
1,25274,11/01/17,Trash - Curbside/Alley Missed Pickup,Curb/Trash miss Tuesday.,4028 Clarksville Pike,37218.0,RED RIVER,4202,1.0,1.721259e+06,685444.799565
2,25276,11/01/17,Trash - Curbside/Alley Missed Pickup,Curb/trash miss Tuesday.,6528 Thunderbird Dr,37209.0,RED RIVER,4205,20.0,1.707027e+06,659887.471571
3,25307,11/01/17,Trash - Curbside/Alley Missed Pickup,missed,2603 old matthews rd,37207.0,WASTE IND,2206,2.0,1.735692e+06,685027.245923
4,25312,11/01/17,Trash - Curbside/Alley Missed Pickup,Missed the even side of the road.,604 croley dr,37209.0,RED RIVER,4203,20.0,1.710186e+06,664205.101066

In [6]:
# data frame info
trash_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20226 entries, 0 to 20225
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Request Number    20226 non-null  int64
 1   Date Opened       20226 non-null  object
 2   Request           20226 non-null  object
 3   Description       20195 non-null  object
 4   Incident Address  20217 non-null  object
 5   Zip Code          20151 non-null  float64
 6   Trash Hauler      19325 non-null  object
 7   Trash Route       19279 non-null  object
 8   Council District  20177 non-null  float64
 9   State Plan X      20198 non-null  float64
 10  State Plan Y      20198 non-null  float64
dtypes: float64(4), int64(1), object(6)
memory usage: 1.7+ MB

In [22]:
# Remove .0 from ZIP codes and keep blanks
trash_df['Zip Code'] = (
    trash_df['Zip Code']
    .fillna('')                          # Replace NaN with empty strings
    .astype(str)                          # Convert everything to string
    .str.replace(r'\.0$', '', regex=True)  # Use raw string to escape the dot. syntax: df['column'].str.replace(pattern, replacement, regex=True)
)

# pattern: The string or regular expression (regex) you want to search for.
#replacement: The string you want to replace the match with.
# regex=True: Tells pandas that you are using a regular expression rather than a literal string.

# r'': The raw string prefix.

  #  In Python, backslashes (\) are escape characters.

   # Using r'' ensures that the backslash is treated as a literal character rather than an escape character.

    #For example:

     #   Without raw string: '\n' → interpreted as a newline.

      #  With raw string: r'\n' → interpreted as the literal characters \ and n.

# \.: The \ escapes the dot.

  #  In regex, a dot . is a wildcard that matches any character.

   # To match a literal dot, you need to escape it with a backslash: \..

    #In a raw string, it appears as r'\.'.

# 0: Matches the digit 0 that follows the dot.

# $: Anchors the match to the end of the string.

#    This ensures that .0 is only removed when it appears at the end of the ZIP code (e.g., 37207.0 → 37207 but leaves 37000.1 unchanged).

In [23]:
# check zip code
trash_df.head()

,Request Number,Date Opened,Request,Description,Incident Address,Zip Code,Trash Hauler,Trash Route,Council District,State Plan X,State Plan Y
0,25270,11/01/17,Trash - Backdoor,"house with the wheel chair ramp, they share dr...",3817 Crouch Dr,37207,RED RIVER,3205,2.0,1.727970e+06,686779.478089
1,25274,11/01/17,Trash - Curbside/Alley Missed Pickup,Curb/Trash miss Tuesday.,4028 Clarksville Pike,37218,RED RIVER,4202,1.0,1.721259e+06,685444.799565
2,25276,11/01/17,Trash - Curbside/Alley Missed Pickup,Curb/trash miss Tuesday.,6528 Thunderbird Dr,37209,RED RIVER,4205,20.0,1.707027e+06,659887.471571
3,25307,11/01/17,Trash - Curbside/Alley Missed Pickup,missed,2603 old matthews rd,37207,WASTE IND,2206,2.0,1.735692e+06,685027.245923
4,25312,11/01/17,Trash - Curbside/Alley Missed Pickup,Missed the even side of the road.,604 croley dr,37209,RED RIVER,4203,20.0,1.710186e+06,664205.101066

In [25]:
# Keep only the street address (before the first comma)
trash_df['Incident Address'] = trash_df['Incident Address'].str.split(',', n=1).str[0]

# .str.split(',', n=1):
 #  Splits the address into two parts based on the first comma.
# n=1 ensures it only splits on the first comma, keeping the rest together if there are multiple commas.
# .str[0]:
 #   Keeps only the first part, which is the street address.

In [28]:
trash_df

,Request Number,Date Opened,Request,Description,Incident Address,Zip Code,Trash Hauler,Trash Route,Council District,State Plan X,State Plan Y
0,25270,11/01/17,Trash - Backdoor,"house with the wheel chair ramp, they share dr...",3817 Crouch Dr,37207,RED RIVER,3205,2.0,1.727970e+06,686779.478089
1,25274,11/01/17,Trash - Curbside/Alley Missed Pickup,Curb/Trash miss Tuesday.,4028 Clarksville Pike,37218,RED RIVER,4202,1.0,1.721259e+06,685444.799565
2,25276,11/01/17,Trash - Curbside/Alley Missed Pickup,Curb/trash miss Tuesday.,6528 Thunderbird Dr,37209,RED RIVER,4205,20.0,1.707027e+06,659887.471571
3,25307,11/01/17,Trash - Curbside/Alley Missed Pickup,missed,2603 old matthews rd,37207,WASTE IND,2206,2.0,1.735692e+06,685027.245923
4,25312,11/01/17,Trash - Curbside/Alley Missed Pickup,Missed the even side of the road.,604 croley dr,37209,RED RIVER,4203,20.0,1.710186e+06,664205.101066
...,...,...,...,...,...,...,...,...,...,...,...
20221,267125,11/01/19,Trash - Curbside/Alley Missed Pickup,MISSED...NEIGHBORS MISSED,2731 Murfreesboro Pike,37013,RED RIVER,4502,32.0,1.781137e+06,632448.551144
20222,267126,11/01/19,Trash - Curbside/Alley Missed Pickup,entire alley,1621 Long Ave,37206,METRO,9508,6.0,1.749711e+06,669201.601569
20223,267130,11/01/19,Trash - Curbside/Alley Missed Pickup,missed several,2943 Windemere Cir,37214,RED RIVER,1502,15.0,1.770293e+06,674936.303809
20224,267134,11/01/19,Trash - Curbside/Alley Missed Pickup,Caller stated trash was missed & were only pic...,3325 Murfreesboro Pike,37013,RED RIVER,4502,32.0,1.785225e+06,627146.400187
20225,267137,11/01/19,Trash - Curbside/Alley Missed Pickup,possibly others missed as well,604 Somerset Ct,37217,RED RIVER,2505,29.0,1.781360e+06,637742.006846

In [30]:
print(trash_df.columns)

Index(['Request Number', 'Date Opened', 'Request ', 'Description',
       'Incident Address', 'Zip Code', 'Trash Hauler', 'Trash Route',
       'Council District', 'State Plan X', 'State Plan Y'],
      dtype='object')

In [32]:
trash_df.columns = trash_df.columns.str.strip() #removes trailing spaces e.g. "Request "

In [33]:
# Drop rows with "Damage to Property" in the Request column
trash_df = trash_df[trash_df['Request'] != 'Damage to Property']

In [37]:
# Define the keywords for filtering
keywords = ['missed', 'did not pick up', 'miss', 'did not', 'has not', 'not picked', 'not pick', 'never came']

# Filter rows where 'Description' contains any of the keywords (case-insensitive)
missed_description = trash_df['Description'].str.contains('|'.join(keywords), case=False, na=False)

# Filter rows where 'Request' contains "Trash - Curbside/Alley Missed Pickup" - wanted to include these rows in case description didnt have any of the keywords
missed_request = trash_df['Request'].str.contains('Trash - Curbside/Alley Missed Pickup', case=False, na=False)

# Combine both conditions using the OR operator
trash_df = trash_df[missed_description | missed_request]

In [36]:
trash_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18060 entries, 1 to 20225
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Request Number    18060 non-null  int64
 1   Date Opened       18060 non-null  object
 2   Request           18060 non-null  object
 3   Description       18031 non-null  object
 4   Incident Address  18051 non-null  object
 5   Zip Code          18060 non-null  object
 6   Trash Hauler      17290 non-null  object
 7   Trash Route       17271 non-null  object
 8   Council District  18018 non-null  float64
 9   State Plan X      18035 non-null  float64
 10  State Plan Y      18035 non-null  float64
dtypes: float64(3), int64(1), object(7)
memory usage: 1.7+ MB

In [38]:
# Filter rows where 'Request' is duplicated
duplicate_requests = trash_df[trash_df.duplicated('Request Number', keep=False)]

# Display the duplicate rows
print(duplicate_requests)

Empty DataFrame
Columns: [Request Number, Date Opened, Request, Description, Incident Address, Zip Code, Trash Hauler, Trash Route, Council District, State Plan X, State Plan Y]
Index: []

In [40]:
# Find duplicate rows based on 'Date Opened' and 'Incident Address'
duplicate_date_address = trash_df[trash_df.duplicated(['Date Opened', 'Incident Address'], keep=False)]

# Display the duplicate rows
duplicate_date_address

,Request Number,Date Opened,Request,Description,Incident Address,Zip Code,Trash Hauler,Trash Route,Council District,State Plan X,State Plan Y
136,26283,11/06/17,Trash - Curbside/Alley Missed Pickup,missed,3124 Murfreesboro Pike,37013,RED RIVER,4502,33.0,1.784737e+06,629098.451312
137,26284,11/06/17,Trash - Curbside/Alley Missed Pickup,missed,3124 Murfreesboro Pike,37013,RED RIVER,4502,33.0,1.784737e+06,629098.451312
155,26673,11/07/17,Trash - Curbside/Alley Missed Pickup,customer says trash is not being picked up bet...,111 2nd Ave N,37201,Metro,NaN,19.0,1.739543e+06,666600.801765
156,26674,11/07/17,Trash - Curbside/Alley Missed Pickup,customer says trash is not being picked up bet...,111 2nd Ave N,37201,NaN,NaN,19.0,1.739543e+06,666600.801765
165,26847,11/08/17,Trash Collection Complaint,entire street was missed yesterday 11/07/17,3550 Pewitt Rd,37218,NaN,NaN,1.0,1.721976e+06,687846.927251
...,...,...,...,...,...,...,...,...,...,...,...
20189,266771,11/01/19,Trash - Curbside/Alley Missed Pickup,missed street,643 E CAMPBELL RD,37115,NaN,3412,8.0,1.753544e+06,708009.199819
20195,266811,11/01/19,Trash - Curbside/Alley Missed Pickup,2 trash/carts both missed {Tuesday} curb,203 Mcmillin St,37203,METRO,9208,21.0,1.734116e+06,664921.033269
20196,266818,11/01/19,Trash - Curbside/Alley Missed Pickup,Trash was not picked up on 10/29 and the trash...,203 Mcmillin St,37203,METRO,9208,21.0,1.734116e+06,664921.033269
20209,266966,11/01/19,Trash - Curbside/Alley Missed Pickup,Call trash was missed. His whole street has no...,643 E CAMPBELL RD,37115,NaN,3412,8.0,1.753544e+06,708009.199819
20224,267134,11/01/19,Trash - Curbside/Alley Missed Pickup,Caller stated trash was missed & were only pic...,3325 Murfreesboro Pike,37013,RED RIVER,4502,32.0,1.785225e+06,627146.400187

In [41]:
# Drop duplicates but keep the first occurrence
trash_df = trash_df.drop_duplicates(subset=['Date Opened', 'Incident Address'], keep='first')

In [42]:
trash_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17706 entries, 1 to 20225
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Request Number    17706 non-null  int64
 1   Date Opened       17706 non-null  object
 2   Request           17706 non-null  object
 3   Description       17678 non-null  object
 4   Incident Address  17697 non-null  object
 5   Zip Code          17706 non-null  object
 6   Trash Hauler      16979 non-null  object
 7   Trash Route       16958 non-null  object
 8   Council District  17665 non-null  float64
 9   State Plan X      17682 non-null  float64
 10  State Plan Y      17682 non-null  float64
dtypes: float64(3), int64(1), object(7)
memory usage: 1.6+ MB

In [60]:
# Identify rows with duplicate 'Incident Address'
duplicate_address = trash_df[trash_df.duplicated('Incident Address', keep='first')==True]

# Count the number of duplicate rows
damages = len(duplicate_address)
damages

5491

In [53]:
# total amount in dollars
damage_amount = damages * 200
print(f"The total amount of damages due to missed pickups is ${damage_amount}")

The total amount of damages due to missed pickups is $1691800

In [56]:
# Group by 'Trash Route' and show unique 'Council District' for each
route_districts = trash_df.groupby('Trash Route')['Council District'].unique().reset_index()

# Display the result
route_districts

    Trash Route Council District
0          1201            [6.0]
1          1202       [6.0, 7.0]
2          1203       [6.0, 7.0]
3          1204            [7.0]
4          1205       [7.0, 8.0]
..          ...              ...
157        9504            [5.0]
158        9505       [7.0, 8.0]
159        9506            [6.0]
160        9507       [5.0, 7.0]
161        9508            [6.0]

[162 rows x 2 columns]